# Normalize all files
* text=auto

# Explicitly enforce LF for MATLAB files
*.m text eol=lf

# Optionally enforce LF for other source code
*.sh text eol=lf
*.py text eol=lf
*.c  text eol=lf
*.h  text eol=lf
*.cpp text eol=lf
*.txt text eol=lf